<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/alligator-22.02.tar.xz">alligator-22.02</a></td>
   <td align="right">172kB</td>
   <td><tt>3c25da8d0cd8748bf504f69861d84a2df06db463</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/angelfish-22.02.tar.xz">angelfish-22.02</a></td>
   <td align="right">128kB</td>
   <td><tt>67549ec52bad46c66f35d157f9eb2966a03ff8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/audiotube-22.02.tar.xz">audiotube-22.02</a></td>
   <td align="right">53kB</td>
   <td><tt>f6731546ac327f70bb2bb5077ac1aff177684565</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/calindori-22.02.tar.xz">calindori-22.02</a></td>
   <td align="right">213kB</td>
   <td><tt>e14a3a2fbca0d6ae8824aace272b4b7991b79130</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kalk-22.02.tar.xz">kalk-22.02</a></td>
   <td align="right">68kB</td>
   <td><tt>424f6c3e21669cb492d0c9e3cd379ee1e867f774</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kasts-22.02.tar.xz">kasts-22.02</a></td>
   <td align="right">417kB</td>
   <td><tt>411c42ab2345e26ba97d6cb4dfa578348297dab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kclock-22.02.tar.xz">kclock-22.02</a></td>
   <td align="right">669kB</td>
   <td><tt>381780e7feed2fbb0ec861e30beef02c659f9869</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/keysmith-22.02.tar.xz">keysmith-22.02</a></td>
   <td align="right">149kB</td>
   <td><tt>89a430d87998ac69f4c0c5feb17d08823978a608</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/khealthcertificate-22.02.tar.xz">khealthcertificate-22.02</a></td>
   <td align="right">262kB</td>
   <td><tt>295f123b540af57f433b5667c70b348b22f5502e</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/koko-22.02.tar.xz">koko-22.02</a></td>
   <td align="right">127kB</td>
   <td><tt>3c60baff50e305c267f697fac045aaf7c66584ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kongress-22.02.tar.xz">kongress-22.02</a></td>
   <td align="right">414kB</td>
   <td><tt>7b246576c1191074d0fa2097479944d1375eeea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/krecorder-22.02.tar.xz">krecorder-22.02</a></td>
   <td align="right">142kB</td>
   <td><tt>54e051b99484f740681b626e28b15b5399a8392c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/ktrip-22.02.tar.xz">ktrip-22.02</a></td>
   <td align="right">207kB</td>
   <td><tt>430aba83b5fbf7acd79bbb5c7cf26f88157c7bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kweather-22.02.tar.xz">kweather-22.02</a></td>
   <td align="right">971kB</td>
   <td><tt>a620c14696d1f13e6724ffca819ee677b24c41db</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/neochat-22.02.tar.xz">neochat-22.02</a></td>
   <td align="right">301kB</td>
   <td><tt>d8ae40bfa7e9f16511b4367cf42468cdd1c88fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-dialer-22.02.tar.xz">plasma-dialer-22.02</a></td>
   <td align="right">87kB</td>
   <td><tt>3bf908b56616c70ad27700bd0275b232e51053aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-phonebook-22.02.tar.xz">plasma-phonebook-22.02</a></td>
   <td align="right">200kB</td>
   <td><tt>3b7a3fcbba868f5924229db02a3c5f7c89ce9a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-settings-22.02.tar.xz">plasma-settings-22.02</a></td>
   <td align="right">258kB</td>
   <td><tt>fad6c5454e3794e3a81dcc491d5dc9bb630fcd58</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasmatube-22.02.tar.xz">plasmatube-22.02</a></td>
   <td align="right">47kB</td>
   <td><tt>c35f8fc35b516ba7f036dfc7928c216e72219448</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/qmlkonsole-22.02.tar.xz">qmlkonsole-22.02</a></td>
   <td align="right">37kB</td>
   <td><tt>42913bc13c7867f4353fd8f732df96ae1a6afcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/spacebar-22.02.2.tar.xz">spacebar-22.02.2</a></td>
   <td align="right">88kB</td>
   <td><tt>30970e77775a3077106852f78b9828ac458c93ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/tokodon-22.02.tar.xz">tokodon-22.02</a></td>
   <td align="right">66kB</td>
   <td><tt>a9c76f51d111a1fa90d6ae6875fe86bb8090a7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/vakzination-22.02.tar.xz">vakzination-22.02</a></td>
   <td align="right">48kB</td>
   <td><tt>3bbe2dde8a863006913768dc57066670f52a5cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile-sounds/0.1/plasma-mobile-sounds-0.1.tar.xz">plasma-mobile-sounds-0.1</a></td>
   <td align="right">9.5M</td>
   <td><tt>9d346e037684d5f693df1b2ebe654d9925e45139</tt></td>
</tr>

</table>
